

      <div class="navbar-container">
        <%= link_to "Home", posts_path %>

          <% if user_signed_in? %>
            <ul>
              <%= link_to "New Post", new_post_path %>
            </ul>
            <ul>
              <%= link_to "Logout", destroy_user_session_path, method: :delete %>
            </ul>
          <% else %>
            <ul>
              <%= link_to "Login", new_user_session_path %>
            </ul>
            <ul>
              <%= link_to "Register", new_user_registration_path %>
            </ul>
          <% end %>
        </ul>
    </div>
